In [ ]:
# 한 줄 주석 ctrl + /
# 여러 줄 주석 """ ~ """ / ''' ~ '''
# 실행 ctrl + enter (해당 셀에서 실행)
# 실행 alt + enter (다음 셀로 넘어감, 다음 셀이 없으면 새로 만듦)
# 실행 shift + enter (다음 셀로 넘어감, 다음 셀이 있을때만 감, 다음 셀이 없으면 그 자리에 있음)

In [ ]:
#여러 줄 주석
"""
a = 1
b = 1
"""

'\na = 1\nb = 1\n'

In [ ]:
1+2

3

# 마크다운 연습
# 가장 큰 제목

In [ ]:
a = 1
b = 2
c = 3
d = 4
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
a
b
c
d

4

In [ ]:
#코드 뒤에 주석 달기 > 바로 뒤에 #하고 주석 달 수 있음
a + b # = 1 + 2

3

# 파이썬 기초

In [ ]:
# 출력을 해주는 함수
print("안녕 파이썬")

안녕 파이썬

In [ ]:
print("안녕"*10)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
# 표현식
23
"Hello"
1+2
# + : 연산자

3

In [ ]:
# 문장: 표현식이 모여서 실행할 수 있는 코드
# 한줄의 코드
a = 1+2

In [ ]:
a

3

In [ ]:
print("Hello, Python")

Hello, Python

In [ ]:
# 프로그램: 문장이 모여서 만들어진 코드
import time
time.sleep(3)
print("Hello")

Hello

In [ ]:
import time

def main():
    s = input("몇 초 쉬어야 하나요? ")
    time.sleep(int(s))
    print("Hello")

if __name__ == "__main__":
    main()

몇 초 쉬어야 하나요? 3
Hello

In [ ]:
import time
s = 1
time.sleep(s)
print("Hello")

Hello

#키워드 & 식별자

In [ ]:
#키워드 확인 방법
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 식별자
# 소문자로만 쓰는거는 뱀같이 생겨서 snake case
student_name = "Tom"
student_name

'Tom'

In [ ]:
# 대문자 소문자 같이 쓰는 거는 낙타 혹같이 생겨서 camel case라고 함
StudentName = "Tom"
StudentName

'Tom'

In [ ]:
# class 가 키워드로 이미 존재하고 있기 때문에 error 발생
class = 1
class

SyntaxError: invalid syntax (<ipython-input-21-39ef5c6b4940>, line 2)

In [ ]:
_class = 1
_class

1

In [ ]:
# 특수문자는 언더바(_) 만 사용가능! 다른 특수문자 사용시 문법 오류가 남.
$class = 1
$class

SyntaxError: invalid syntax (<ipython-input-23-b8c83d9c7cd5>, line 2)

In [ ]:
2class = 1
2class

1

In [ ]:
first name = "Tom"
first name
# first name => first_name

SyntaxError: invalid syntax (<ipython-input-26-bfa0530b619f>, line 1)

# 자료형

In [ ]:
# 자료형 확인
type("배고파") # str = string 문자열

str

In [ ]:
type(23) # int = integer 정수 = 소수점이 없는 숫자

int

In [ ]:
type(2.3) # float 실수 = 소수점이 있는 숫자

float

In [ ]:
type(True) # bool = boolean 불 = 논리형 = 참/거짓

bool

## 문자열

In [ ]:
print("Korea")
print('Korea')

Korea
Korea

In [ ]:
print("Hello", "Korea", "is", "beautiful!")

Hello Korea is beautiful!

In [ ]:
print("안녕")
print('안녕')

안녕
안녕

In [ ]:
# 큰따옴표가 출력되길 원하면 작은걸로 묶고, 작은게 나오길 원하면 큰걸로 감싸야함
print("He said "Hello"")
# SyntaxError: invalid syntax => 구문 오류 = 코드 실행 전에 발생하는 오류 = 보통 오타

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-35-bf7f9abd6c3f>, line 2)

In [ ]:
# 오류 수정
print('He said "Hello"')
print("He said 'Hello'")

He said "Hello"
He said 'Hello'

In [ ]:
# 문자열 안에서 따옴표를 사용하는 경우
print(""안녕"이라고 말해봐")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-37-400f9b609a59>, line 2)

In [ ]:
# 위의 에러 수정
print('"안녕"이라고 말해봐')

"안녕"이라고 말해봐

In [ ]:
print("'안녕'이라고 말해봐")

'안녕'이라고 말해봐

### 이스케이프 문자

In [ ]:
# \"
print('He said \"Hello\"')

He said "Hello"

In [ ]:
print("He said \"Hello\"")

He said "Hello"

In [ ]:
print('He said \nHello\n')

He said
Hello

In [ ]:
print('He said \tHello\t')

He said 	Hello

In [ ]:
print('He said \\Hello\\')

He said \Hello\

In [ ]:
# 역슬래시(\) 와 함께 쓰는 문자
print("\"안녕\"이라고 말해봐")

"안녕"이라고 말해봐

In [ ]:
print('\'안녕\'이라고 말해봐')

'안녕'이라고 말해봐

In [ ]:
# 줄바꿈 \n
print("동해물과 백두산이\n마르고 닳도록")

동해물과 백두산이
마르고 닳도록

In [ ]:
# 탭 \t
print("안녕\t안녕")

안녕	안녕

In [ ]:
# 역슬래시 \\
print("\\\\")

\\

### 여러 줄의 문자열

In [ ]:
print("Python\nBasic\nClass")

Python
Basic
Class

In [ ]:
print("""Python
Basic
Class""")

Python
Basic
Class

In [ ]:
print('''Python
Basic
Class''')

Python
Basic
Class

In [ ]:
print("하나~~~~~\n둘~~~~~\n셋~~~~~\n넷~~~~~~")

하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~

In [ ]:
#아래 케이스와는 다르게 끝과 마지막에 엔터가 생김
print("""
Python
Basic
Class
""")

Python
Basic
Class

In [ ]:
#위의 결과와 다른 점은 원하지 않는 줄바꿈을 없애기 위해서 역슬래시 사용했음.
print("""\
Python
Basic
Class\
""")

Python
Basic
Class

In [ ]:
print("""하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~""")

하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~

In [ ]:
print("""
하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~
""")

하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~

In [ ]:
print("""\
하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~\
""")

하나~~~~~
둘~~~~~
셋~~~~~
넷~~~~~~

### 문자열 연산자

In [ ]:
print("대한" + "민국")

대한민국

In [ ]:
#문자열끼리만 연산이 되기 때문에 int형도 반드시 str로 변환해줘야함
print("대한" + "민국" + 1004)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("대한" + "민국" + "1004")

대한민국1004

In [ ]:
# + : 문자열 연결 연산자 = 합쳐주기
print("안녕"+"하시렵니까?")
print("안녕"+"!!!")
print("안녕"+1)

안녕하시렵니까?
안녕!!!

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("안녕"+"1")

안녕1

In [ ]:
print("대한민국만세" * 2)

대한민국만세대한민국만세

In [ ]:
print(2 * "대한민국만세")

대한민국만세대한민국만세

In [ ]:
print("대한민국" + "만세" * 3)

대한민국만세만세만세

In [ ]:
# * : 문자열 반복 연산자 = 반복
print("안녕"*5)

안녕안녕안녕안녕안녕

In [ ]:
print(5*"안녕")

안녕안녕안녕안녕안녕

### 문자열의 우선순위

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕"+"하세요"*3)

안녕하세요하세요하세요

In [ ]:
print("안녕"+("하세요"*3))

안녕하세요하세요하세요

In [ ]:
print(("안녕"+"하세요")*3)

안녕하세요안녕하세요안녕하세요

In [ ]:
print("Hello" + "Python" * 2) # * 연산자부터 적용됨 = 우선 순위가 높음

HelloPythonPython

In [ ]:
print("Hello" + ("Python" * 2)) # * 연산자부터 적용되지만 소괄호 사용 권장

HelloPythonPython

In [ ]:
print(("Hello" + "Python") * 2) # * 연산자의 우선 순위가 높지만 소괄호부터 적용됨

HelloPythonHelloPython

### 인덱스 & 인덱싱

In [ ]:
print("Hello"[0]); print("Hello"[-1])

H
o

In [ ]:
print("Hello"[5]) # 인덱스 번호가 없는 것으로 지정하는 경우
# 없는 인덱스 번호로 인덱싱할 경우 발생하는 에러

IndexError: string index out of range

In [ ]:
# 안녕하세요
# 1 2 3 4 5 => 원인덱스 = 보통 숫자 세는 방식
# 0 1 2 3 4 => 제로인덱스 = 파이썬 숫자 세는 방식
print("안녕하세요"[0])

안

In [ ]:
print("안녕하세요"[1])

녕

In [ ]:
print("안녕하세요"[2])

하

In [ ]:
print("안녕하세요"[3])

세

In [ ]:
print("안녕하세요"[4])

요

In [ ]:
print("안녕하세요"[5])

IndexError: string index out of range

In [ ]:
# 안녕하세요
# 1 2 3 4 5
# -5 -4 -3 -2 -1
print("안녕하세요"[-5])

안

In [ ]:
print("안녕하세요"[-4])

녕

In [ ]:
print("안녕하세요"[-3])

하

In [ ]:
print("안녕하세요"[-2])

세

In [ ]:
print("안녕하세요"[-1])

요

### 슬라이싱

In [ ]:
# 슬라이싱은 끝 번호를 범위에 포함하지 않음
print("Hello"[0:3]) # print("Hello")[0:2+1] 과 같음
print("Hello"[1:3]) # print("Hello")[1:2+1] 과 같음

Hel
el

In [ ]:
# 인덱스 범위 지정 = 슬라이싱
# [시작번호:끝번호]
# 파이썬은 끝번호를 포함하지 않음
# 안녕하세요
# 0 1 2 3 4
# 안녕 => 0:1 => 0:1+1 => 0:2
print("안녕하세요"[0:1+1])

안녕

In [ ]:
print("안녕하세요"[0:2])

안녕

In [ ]:
# 하세요 => 2:4 => 2:4+1 => 2:5
print("안녕하세요"[2:4+1])

하세요

In [ ]:
print("안녕하세요"[2:5])

하세요

In [ ]:
# 시작/끝번호를 생략할수 있음. 안쓰면 그냥 끝까지 또는 처음부터가 됨
print("Hello"[:3]) # print("Hello"[0:2+1]) 과 같음
print("Hello"[1:]) # print("Hello"[1:4+1]) 과 같음

Hel
ello

In [ ]:
print("Hello"[0:2+1])
print("Hello"[1:4+1])

Hel
ello

In [ ]:
# 안녕
# 시작번호 생략 => [:1+1] = [:2] => 처음부터~
print("안녕하세요"[:1+1])
print("안녕하세요"[:2])

안녕
안녕

In [ ]:
# 하세요
# 끝번호 생략 => [2:] => 끝까지~
print("안녕하세요"[2:])

하세요

### 문자열의 길이

In [ ]:
print(len("Hello"))

5

In [ ]:
len("Hello")

5

In [ ]:
# length 문자열 길이 반환 return
print(len("안녕하세요")) # = print(5)

5

In [ ]:
"Hello"[-len("Hello"):-2]

'Hel'

In [ ]:
"Hello"[:-2]

'Hel'

## 확인 문제

In [ ]:
"글자"
'글자'
"""문자열
문자열
문자열"""
'''문자열
문자열
문자열'''

In [ ]:
\"
\'
\n
\t
\\

SyntaxError: unexpected character after line continuation character (<ipython-input-107-ad6d1ef0861f>, line 1)

In [ ]:
print("# 연습문제")
print("\\\\\\\\")
print("-" * 8)

# 연습문제
\\\\
--------

In [ ]:
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])
print("안녕하세요"[5])

녕
하
세
요

IndexError: string index out of range

In [ ]:
print("안녕하세요"[1:3])
print("안녕하세요"[2:4])
print("안녕하세요"[1:])
print("안녕하세요"[:3])

녕하
하세
녕하세요
안녕하

## 숫자

In [ ]:
# 정수
print(23)

23

In [ ]:
print(type(23)) # int = integer 정수 = 소수점이 없는 숫자

<class 'int'>

In [ ]:
# 실수
print(1.32)
print(2.3)

1.32
2.3

In [ ]:
print(type(2.3)) # float 실수 = 소수점이 있는 숫자

<class 'float'>

### 사칙연산자

In [ ]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)

8
2
15
1.6666666666666667

In [ ]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)

5
1
6
1.5

In [ ]:
# 나누기
print(3/2) # 실수
print(3//2) # 몫 = 정수
print(3%2) # 나머지 = 정수

1.5
1
1

In [ ]:
# 제곱
2**2

4

In [ ]:
2*2

4

In [ ]:
2**3

8

In [ ]:
2*2*2

8

In [ ]:
2**4

16

In [ ]:
2*2*2*2

16

### 우선순위

In [ ]:
print(1+2-3*2/2)

0.0

In [ ]:
2+2*2

6

In [ ]:
2+(2*2)

6

In [ ]:
2+2-2*2/2*2

0.0

In [ ]:
2+2-(((2*2)/2)*2)

0.0

In [ ]:
5+3*2

11

In [ ]:
(5+3)*2

16

### 숫자와 문자열 연산

In [ ]:
#숫자와 문자열을 같이 계산할 때에는 숫자를 문자열로 만든 다음에 계산해야함
number = 4
string = "랑해"
print(number + string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
number = "4"
string = "랑해"
print(number + string)

4랑해

In [ ]:
15/4

## 확인 문제

In [ ]:
int
float

In [ ]:
+
-
*
/
// # 정수 나누기 = 몫
%
**

In [ ]:
print("# 기본적인 연산")
print(15, "+", 4, "=", 15 + 4)
print(15, "-", 4, "=", 15 - 4)
print(15, "*", 4, "=", 15 * 4)
print(15, "/", 4, "=", 15 / 4)

# 기본적인 연산
15 + 4 = 19
15 - 4 = 11
15 * 4 = 60
15 / 4 = 3.75

In [ ]:
print("3462를 17로 나누었을 때의")
print("- 몫:", 3462 // 17)
print("- 나머지:", 3462 % 17)

3462를 17로 나누었을 때의
- 몫: 203
- 나머지: 11

In [ ]:
print(2 + 2 - 2 * 2 / 2 * 2)
print(2 - 2 + 2 / 2 * 2 + 2)

0.0
4.0

In [ ]:
print(2 + 2 - (((2 * 2) / 2) * 2))
print(2 - 2 + ((2 / 2) * 2) + 2)

0.0
4.0

# 변수

In [ ]:
ABC = 1
Abc = 2

In [ ]:
print(ABC, Abc)

1 2

In [ ]:
#숫자가 가장 먼저 나오고 underbar은 안됨
#You cannot use integers to start variable names in Python.Variable names in Python must start with a letter or the underscore character (_). They can contain alphanumeric characters (a-z, A-Z, 0-9) and underscores after the first character.
var = 3
_var = 4
2_var = 5

SyntaxError: invalid decimal literal (<ipython-input-139-57c9e8c0e2a9>, line 5)

In [ ]:
_2var = 6
_var2 = 7
var2 = 8

In [ ]:
print(_2var, _var2, var2)

6 7 8

In [ ]:
#언더바가 아니라서 안됨
v-ar = 8

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-142-81e520dccd1e>, line 2)

In [ ]:
var--var = 9

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-143-f9453260bc9e>, line 1)

In [ ]:
student_name = 'Tom'

In [ ]:
print(student_name)

Tom

In [ ]:
a = 2
a

2

In [ ]:
print(a)

2

In [ ]:
a + 3

5

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
# 변수 생성
pi = 3.14

In [ ]:
# 변수 확인
print(pi)

3.14

In [ ]:
# 변수 사용
print(pi + pi) # 3.14 + 3.14

6.28

## 연산

In [ ]:
# 사칙연산
print(pi+pi)
print(pi-pi)
print(pi*pi)
print(pi/pi)

6.28
0.0
9.8596
1.0

In [ ]:
print(pi//2) # 몫
print(pi%2) # 나머지

1.0
1.1400000000000001

In [ ]:
# 제곱
print(pi**2)
print(pi**3)
print(pi**4)

9.8596
30.959144000000002
97.21171216000002

In [ ]:
# 원의 둘레 = 2*pi*r
# 원의 넓이 = pi*r*r
pi = 3.14
r = 10
print("원의 둘레: ", 2*pi*r)
print("원의 넓이: ", pi*r*r)

원의 둘레:  62.800000000000004
원의 넓이:  314.0

## 복합대입연산자

In [ ]:
a = 2; a += 1; print(a)
# a = a + 1

3

In [ ]:
# += <= 숫자
no = 10
no += 1 # 10 + 1 = 11 = no
no += 1 # 11 + 1 = 12 = no
no += 1 # 12 + 1 = 13 = no
print(no)

13

In [ ]:
no = 10
no -= 1
no -= 1
no -= 1
print(no)

7

In [ ]:
no = 10
no *= 2
no *= 2
no *= 2
print(no)

80

In [ ]:
no = 10
no /= 2
no /= 2
no /= 2
print(no)

1.25

In [ ]:
no = 10
no //= 2
no //= 2
no //= 2
print(no)

1

In [ ]:
no = 10
no %= 7
no %= 2
no %= 1
print(no)

0

In [ ]:
no = 10
no **= 2
no **= 2
no **= 2
print(no)

100000000

In [ ]:
str = "Hello"; str += "Python"; print(str)

HelloPython

In [ ]:
# += <= 문자 (+, *)
string = "안녕"
string += "!" # 안녕 + ! = 안녕! = string
string += "!" # 안녕! + ! = 안녕!! = string
string += "!" # 안녕!! + ! = 안녕!!! = string
print(string)

안녕!!!

In [ ]:
string = "안녕"
string *= 2 # 안녕 + ! = 안녕! = string
string *= 2
string *= 2
print(string)

안녕안녕안녕안녕안녕안녕안녕안녕

## 사용자입력

In [ ]:
input("값을 입력하세요>") #결과를 보면 '' 즉, 문자형으로 출력됨

값을 입력하세요>3

'3'

In [ ]:
# 사용자 입력 값을 반환
input("문자를 입력하세요> ")

문자를 입력하세요> connie

'connie'

In [ ]:
input("숫자를 입력하세요> ")

숫자를 입력하세요> 23

'23'

In [ ]:
value = input("값을 입력하세요>"); print(value) ; type(value)

값을 입력하세요>11
11

str

In [ ]:
value = input("값을 입력하세요>"); print(type(value)) # 입력값에 Hello 입력하기

값을 입력하세요>hello
<class 'str'>

In [ ]:
value = input("값을 입력하세요>"); print(type(value)) # 입력값에 23 입력하기

값을 입력하세요>23
<class 'str'>

In [ ]:
# 문자열
var1 = input("문자를 입력하세요> ")
print(type(var1))

문자를 입력하세요> Conni2
<class 'str'>

In [ ]:
# 숫자
var2 = input("숫자를 입력하세요> ")
print(type(var2))

숫자를 입력하세요> 12
<class 'str'>

In [ ]:
# bool
var3 = input("bool를 입력하세요> ")
var3 = bool(var3)
print(type(var3))

bool를 입력하세요> False
<class 'bool'>

In [ ]:
no = input("정수를 입력하세요> ")
print("계산 결과: ", no + 10)

정수를 입력하세요> 32

TypeError: can only concatenate str (not "int") to str

## 캐스트 함수

In [ ]:
a = input("input integer>"); print(type(a)); a = int(a); print(type(a)) # 정수 입력

input integer>23
<class 'str'>
<class 'int'>

In [ ]:
a = input("input float>"); print(type(a)); a = float(a); print(type(a)) # 실수 입력

input float>1.1
<class 'str'>
<class 'float'>

In [ ]:
# 정수로 변환 int()
input_a = input("첫번째 정수를 입력하세요> ")
input_b = input("두번째 정수를 입력하세요> ")
int_a = int(input_a)
int_b = int(input_b)
print("문자열 = ", input_a + input_b)
print("정수 = ", int_a + int_b)

첫번째 정수를 입력하세요> 23
두번째 정수를 입력하세요> 11
문자열 =  2311
정수 =  34

In [ ]:
input_a = input("첫번째 정수를 입력하세요> ")
input_b = input("두번째 정수를 입력하세요> ")
int_a = float(input_a)
int_b = float(input_b)
print("문자열 = ", input_a + input_b)
print("정수 = ", int_a + int_b)

첫번째 정수를 입력하세요> 1
두번째 정수를 입력하세요> 2
문자열 =  12
정수 =  3.0

In [ ]:
a = int("23")
b = float("2.3")
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

## 숫자를 문자로 변환

In [ ]:
# str()
a = str(23)
b = str(2.3)
print(type(a))
print(type(b))

TypeError: 'str' object is not callable

## ValueError

In [ ]:
# 1) 숫자가 아닌 값을 숫자로 변환하는 경우
int("안녕")

ValueError: invalid literal for int() with base 10: '안녕'

In [ ]:
# 2) 실수를 정수로 변환하는 경우
int("2.3")

ValueError: invalid literal for int() with base 10: '2.3'

In [ ]:
# 1 m = 100 cm
meter = input("키(m)를 입력하세요> ")
meter = float(meter) #float를 쓴 이유는 정수나 실수 중에 어떤 걸 넣을지 모르니까
height = meter * 100
print(meter, "m 는 cm 로 변환하면 ", height, "cm 입니다.")

키(m)를 입력하세요> 12
12.0 m 는 cm 로 변환하면  1200.0 cm 입니다.

In [ ]:
#inch를 cm로 변환하는 프로그램
# 1 inch = 2.54cm
inch = float(input())
cm = inch * 2.54
print("{} cm".format(cm))

33
83.82000000000001 cm

In [ ]:
# inch 를 cm 로 변환하는 프로그램
# 1 inch = 2.54 cm
inch = input("inch 를 입력하세요> ")
inch = float(inch)
cm = inch * 2.54
print(inch, "inch 는 cm 로 변환하면 ", cm, "cm 입니다.")

inch 를 입력하세요> 1
1.0 inch 는 cm 로 변환하면  2.54 cm 입니다.

## 확인 문제

In [ ]:
=

In [ ]:
+=
-=
*=
/=
%=
**=

In [ ]:
int()
float()
str()

In [ ]:
str_input = input("숫자 입력> ")
num_input = float(str_input)

print()
print(num_input, "inch")
print((num_input * 2.54), "cm")

숫자 입력> 33

33.0 inch
83.82000000000001 cm

In [ ]:
str_input = input("숫자 입력> ")
num_input = float(str_input)

print()
print(num_input, "inch")
print((num_input * 2.54), "cm")

숫자 입력> 10

10.0 inch
25.4 cm

In [ ]:
str_input = input("원의 반지름 입력> ")
num_input = float(str_input)
print()
print("반지름: ", num_input)
print("둘레: ", 2 * 3.14 * num_input )
print("넓이: ", 3.14 * num_input ** 2)

원의 반지름 입력> 2

반지름:  2.0
둘레:  12.56
넓이:  12.56

In [ ]:
str_input = input("원의 반지름 입력> ")
num_input = float(str_input)
print()
print("반지름: ", num_input)
print("둘레: ", 2 * 3.14 * num_input )
print("넓이: ", 3.14 * num_input ** 2)

원의 반지름 입력> 11

반지름:  11.0
둘레:  69.08
넓이:  379.94

In [ ]:
a = input("문자열 입력> ")
b = input("문자열 입력> ")

print(a, b)
c = a # a => c
a = b # b => a
b = c # c => b
print(a, b)

문자열 입력> 2
문자열 입력> Connie
2 Connie
Connie 2

## format

In [ ]:
# 숫자를 문자열로 변환하는 함수
str = "{}".format(23); print(str); print(type(str))

23
<class 'str'>

In [ ]:
"유퀴즈 상금 {} 만원".format(100)

'유퀴즈 상금 100 만원'

In [ ]:
str_a = "{} {}".format(23, 24); print(str_a); str_b = "{} {}".format(23, 24, 25); print(str_b)

23 24
23 24

In [ ]:
"{} {} {}".format(1,2,3)

'1 2 3'

In [ ]:
# 할당하는 칸이 입력보다 많으면 eror 생김
"{} {} {}".format(1,2)

IndexError: Replacement index 2 out of range for positional args tuple

In [ ]:
#근데 할당하는 칸보다 입력값이 많으면 그냥 할당칸에 맞춰서 출력됨
"{} {} {}".format(1,2,3,4)

'1 2 3'

In [ ]:
"{}".format(2.3)

'2.3'

In [ ]:
"{} {} {}".format(1,"안녕",True)

'1 안녕 True'

### 정수형

In [ ]:
a = "{:d}".format(23); b = "{:5d}".format(23); c = "{:05d}".format(23); d = "{:05d}".format(-23)
print(a); print(b); print(c); print(d)

23
   23
00023
-0023

In [ ]:
a = "{:d}".format(23) # 정수
b = "{:5d}".format(23) # 자리수 & 남은 자리를 빈칸으로 채움
c = "{:05d}".format(23) # 자리수 & 남은 자리를 0을 채움
d = "{:05d}".format(-23) # 자리수 & 한자리 - 기호 & 남은 자리를 0을 채움
print(a)
print(b)
print(c)
print(d)

23
   23
00023
-0023

In [ ]:
a = "{:+d}".format(23); b = "{:+d}".format(-23); c = "{: d}".format(23); d = "{: d}".format(-23)
print(a); print(b); print(c); print(d)

+23
-23
 23
-23

In [ ]:
a = "{:+d}".format(23) # 양수 기호와 함께 출력
b = "{:+d}".format(-23) # 음수, 무조건 - 기호
c = "{: d}".format(23) # 양수 기호를 생략해서 출력
d = "{: d}".format(-23) # 음수, 무조건 - 기호
print(a)
print(b)
print(c)
print(d)

+23
-23
 23
-23

In [ ]:
a = "{:+5d}".format(23) # 자리수 & 숫자 바로 앞에 기호
b = "{:+5d}".format(-23) #
c = "{:=+5d}".format(23) # 자리수 & 맨 앞에 기호 & 남아있는 자리를 빈칸으로 채움
d = "{:=+5d}".format(-23) #
e = "{:=+05d}".format(23) # 자리수 & 맨 앞에 기호 & 남아있는 자리를 0으로 채움
f = "{:=+05d}".format(-23) #
print(a);print(b);print(c);print(d);print(e);print(f)

  +23
  -23
+  23
-  23
+0023
-0023

In [ ]:
"{:+05d}".format(23) # = 사용할 필요 없음

'+0023'

In [ ]:
"{:=+05d}".format(-23) #

'-0023'

### 실수형

In [ ]:
a = "{:f}".format(23.45) # 실수
b = "{:15f}".format(23.45) # 자리수 & 남은 자리를 빈칸으로 채움
c = "{:+15f}".format(23.45) # 자리수 & 한자리 + 기호 & 남은 자리를 빈칸으로 채움
d = "{:+015f}".format(-23.45) # 자리수 & 한자리 - 기호 맨앞에 & 남은 자리를 0을 채움
print(a);print(b);print(c);print(d)
type(a)

23.450000
      23.450000
     +23.450000
-0000023.450000

str

In [ ]:
"{:=+015f}".format(-23.45) # = 사용할 필요 없음

'-0000023.450000'

In [ ]:
a = "{:15.3f}".format(23.456)
b = "{:15.2f}".format(23.456)
c = "{:15.1f}".format(23.456)
d = "{:15.1f}".format(23.45) # 5 보다 커야 반올림
e = "{:15.1f}".format(23.46)
print(a);print(b);print(c);print(d);print(e)

         23.456
          23.46
           23.5
           23.4
           23.5

### 의미가 없는 소수점 제거

In [ ]:
a = "{:g}".format(23.450)
b = "{:g}".format(23.40)
c = "{:g}".format(23.0)
print(a);print(b);print(c)

23.45
23.4
23

### 파이썬 숫자 표현 방식

파이썬에서는 반올림할 때 숫자가 정확하게 똑같이 반으로 쪼개지면 짝수의 정수로 값을 반환하는 특성을 가지고 있음 = 설계가 그렇게 되어 있음

In [ ]:
# 정수 2 와 3 사이의 짝수 2 를 반환
"{:15.0f}".format(2.5)

'              2'

In [ ]:
# 정수 3 과 4 사이의 짝수 4 를 반환
"{:15.0f}".format(3.5)

'              4'

In [ ]:
# 정수 4 와 5 사이의 짝수 4 를 반환
"{:15.0f}".format(4.5)

'              4'

In [ ]:
# 그러나 일반적으로 똑같이 반으로 쪼개지는 실수보다
# 0보다 큰 수를 가지는 실수를 사용하는 경우가 많기 때문에
# 걱정하지 않아도 됨
# 2.5 는 똑같이 반으로 쪼개지는 수이지만
# 2.5123 은 한쪽이 0.5123 을, 다른 한쪽은 0.4877 를 가짐
"{:15.0f}".format(2.5123)

'              3'

In [ ]:
1-0.5123

0.4877

In [ ]:
# 3.5 는 똑같이 반으로 쪼개지는 수이지만
# 3.5111 은 한쪽이 0.5111 을, 다른 한쪽은 0.4889 를 가짐
"{:15.0f}".format(3.51111)

'              4'

In [ ]:
1-0.5111

0.4889

## f 문자열 (참고만 할 것)

In [ ]:
"{}".format(23)

'23'

In [ ]:
f"{23}"

'23'

In [ ]:
"{}".format(2 + 3)

'5'

In [ ]:
f"{2+3}"

'5'

In [ ]:
# format() 함수 사용하는 것이 더 좋은 경우
# 1) 문자열이 많을 때
mc = "유재석"
reward = 100
"""\
유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.
엠씨는 {}이고, 퀴즈를 맞추면 상금 {} 만원을 준다.\
""".format(mc, reward)

'유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.\n엠씨는 유재석이고, 퀴즈를 맞추면 상금 100 만원을 준다.'

In [ ]:
mc = "유재석"
reward = 100
f"""\
유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.
엠씨는 {mc}이고, 퀴즈를 맞추면 상금 {reward} 만원을 준다.\
"""

'유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.\n엠씨는 유재석이고, 퀴즈를 맞추면 상금 100 만원을 준다.'

In [ ]:
# 2) 여러 값을 리스트 형태로 사용할 경우
# 전개연산자
data = ["강백호", 17, "M", "난 천재니까"]
"""\
이름: {},
나이: {},
성별: {},
좌우명: {}\
""".format(*data)

'이름: 강백호,\n나이: 17,\n성별: M,\n좌우명: 난 천재니까'

In [ ]:
data = ["강백호", 17, "M", "난 천재니까"]
f"""\
이름: {data[0]},
나이: {data[1]},
성별: {data[2]},
좌우명: {data[3]}\
"""

'이름: 강백호,\n나이: 17,\n성별: M,\n좌우명: 난 천재니까'

## 대소문자 변경

In [ ]:
# 대문자로 변경
string = "hello"
string.upper()

'HELLO'

In [ ]:
# 소문자로 변경
string = "HELLO"
string.lower()

'hello'

## 공백 제거

In [ ]:
# 양쪽 = both = left & right = 앞 & 뒤
string = "            안녕              "
string.strip()

'안녕'

In [ ]:
# 왼쪽 = left = 앞
string = "            안녕              "
string.lstrip()

'안녕              '

In [ ]:
# 오른쪽 = right = 뒤
string = "            안녕              "
string.rstrip()

'            안녕'

## 문자열 구성 확인

In [ ]:
s = "34.82"
s.isspace()

False

In [ ]:
s.isdecimal()

False

## 문자열 첫번째 위치 반환

In [ ]:
# 좌 => 우
# slamdunk01
# 01234
s = "slamdunk01"
s.find("dunk")

4

In [ ]:
# slamdunk01
# 012345678
s.find("0")

8

In [ ]:
#오른쪽에서 세지만 결국 인덱스를 알려주는 것! 오른쪽에서 가장 먼저 나온 a의 인덱스는 6이기 때문에 6 출력
# 우 => 좌
# slamslam
# 0123456
s = "slamslam"
s.rfind("a")

6

In [ ]:
# slamslam
# 012
s.find("a")

2

In [ ]:
r = 'cosmos'
r.find('som')

-1

## in 연산자

In [ ]:
print("안녕" in "안녕하세요")

True

In [ ]:
print("잘자" in "안녕하세요")

False

## split

In [ ]:
# 잘라서 문자 데이터를 리스트로 반환
s = "1 2 3 4 5"
s.split(" ")

['1', '2', '3', '4', '5']

In [ ]:
cp = "010-1234-5678"
cp.split("-")

['010', '1234', '5678']